---
default:
    user: {{ pve_exporter_datacenter_user }}
    token_name: "{{ pve_exporter_datacenter_token_name }}"
    token_value: "{{ pve_exporter_datacenter_token_secret }}"
    verify_ssl: {{ pve_exporter_datacenter_verify_ssl }}
