[Unit]
Description=Prometheus Proxmox VE Exporter
Documentation=https://github.com/prometheus-pve/prometheus-pve-exporter
After=network.target

[Service]
User={{ pve_exporter_user }}
Group={{ pve_exporter_user }}
ExecStart={{ pve_exporter_directory }}/bin/pve_exporter --config.file {{ pve_exporter_config_directory }}/{{ pve_exporter_config_file }}
Restart=always

[Install]
WantedBy=multi-user.target
