---
- name: Create Datacenter API User for pve-exporter.
  cloudcodger.proxmox_openssh.proxmox_user:
    api_host: "{{ pve_exporter_api_host }}"
    api_user: "{{ pve_exporter_api_user }}"
    api_port: "{{ pve_exporter_api_port }}"
    api_sudo: "{{ pve_exporter_api_sudo }}"
    userid: "{{ pve_exporter_datacenter_user }}"
    state: present
  delegate_to: localhost
  run_once: true
  when: pve_exporter_api_host | length > 1

- name: Create Datacenter API Token for pve-exporter.
  cloudcodger.proxmox_openssh.proxmox_token:
    api_host: "{{ pve_exporter_api_host }}"
    api_user: "{{ pve_exporter_api_user }}"
    api_port: "{{ pve_exporter_api_port }}"
    api_sudo: "{{ pve_exporter_api_sudo }}"
    userid: "{{ pve_exporter_datacenter_user }}"
    tokenid: "{{ pve_exporter_datacenter_token_name }}"
    state: present
  register: exporter_token
  delegate_to: localhost
  run_once: true
  when: pve_exporter_api_host | length > 1

- name: Store new token in a secrets file.
  ansible.builtin.copy:
    content: "{{ exporter_token.token }}\n"
    dest: "{{ pve_exporter_token_secrets_dir }}/{{ pve_exporter_token_secret_prefix
      }}{{ pve_exporter_datacenter_user | replace('@', '-') }}-{{ pve_exporter_datacenter_token_name
      }}{{ pve_exporter_token_secret_suffix }}.token"
    mode: "0600"
  delegate_to: localhost
  run_once: true
  when:
    - pve_exporter_api_host | length > 1
    - exporter_token.changed

- name: Create Datacenter ACLs for the API Token and User.
  cloudcodger.proxmox_openssh.proxmox_acl:
    api_host: "{{ pve_exporter_api_host }}"
    api_user: "{{ pve_exporter_api_user }}"
    api_port: "{{ pve_exporter_api_port }}"
    api_sudo: "{{ pve_exporter_api_sudo }}"
    path: '/'
    roleid: 'PVEAuditor'
    tokens: "{{ pve_exporter_datacenter_user }}!{{ pve_exporter_datacenter_token_name }}"
    users: "{{ pve_exporter_datacenter_user }}"
    state: present
  delegate_to: localhost
  run_once: true
  when: pve_exporter_api_host | length > 1

- name: Check if the token file exists.
  ansible.builtin.stat:
    path: "{{ pve_exporter_token_secrets_dir }}/{{ pve_exporter_token_secret_prefix
      }}{{ pve_exporter_datacenter_user | replace('@', '-') }}-{{ pve_exporter_datacenter_token_name
      }}{{ pve_exporter_token_secret_suffix }}.token"
  delegate_to: localhost
  register: local_token_file
  run_once: true
  when: pve_exporter_datacenter_token_secret | length < 1

- name: Set the token from the Token Secrets file.
  ansible.builtin.set_fact:
    pve_exporter_datacenter_token_secret: "{{ lookup('file',
      pve_exporter_token_secrets_dir + '/' +
      pve_exporter_token_secret_prefix +
      pve_exporter_datacenter_user | replace('@', '-') + '-' +
      pve_exporter_datacenter_token_name +
      pve_exporter_token_secret_suffix + '.token') }}"
  when:
    - pve_exporter_datacenter_token_secret | length < 1
    - local_token_file.stat.exists
  delegate_to: localhost
  run_once: true

- name: Make sure that a token was either provided, created or read from a token file.
  ansible.builtin.assert:
    that: pve_exporter_datacenter_token_secret | length > 1
    fail_msg: >
      A token was not set. Either remove the
      '{{ pve_exporter_datacenter_user }}!{{ pve_exporter_datacenter_token_name }}'
      token and let this playbook recreate it, or
      place the token in the '{{ pve_exporter_token_secrets_dir }}/{{ pve_exporter_token_secret_prefix
      }}{{ pve_exporter_datacenter_user | replace('@', '-') }}-{{ pve_exporter_datacenter_token_name
      }}{{ pve_exporter_token_secret_suffix }}.token' file, or set
      'pve_exporter_datacenter_token_secret'.
    quiet: true
  delegate_to: localhost
  run_once: true

- name: Create the pve-exporter service account user.
  ansible.builtin.user:
    name: "{{ pve_exporter_user }}"
    home: /nonexistent
    shell: /usr/sbin/nologin
    system: true

- name: Install python3 venv module.
  ansible.builtin.apt:
    name: python3-venv
    update_cache: true
    cache_valid_time: 360

- name: Install prometheus-pve-exporter into the specified (venv).
  ansible.builtin.pip:
    name: prometheus-pve-exporter
    virtualenv: "{{ pve_exporter_directory }}"
    virtualenv_command: python3 -m venv

- name: Create the prometheus-pve-exporter configuration directory.
  ansible.builtin.file:
    path: "{{ pve_exporter_config_directory }}"
    mode: "0755"
    group: "root"
    owner: "root"
    state: "directory"

- name: Create the 'pve.yml' configuration file.
  ansible.builtin.template:
    src: pve.yml.j2
    dest: "{{ pve_exporter_config_directory }}/{{ pve_exporter_config_file }}"
    mode: "0640"
    group: "pve-exporter"
    owner: "root"
  notify: Restart prometheus-pve-exporter

- name: Create the prometheus-pve-exporter service.
  ansible.builtin.template:
    src: 'service.j2'
    dest: "/etc/systemd/system/prometheus-pve-exporter.service"
    mode: '0644'
  notify: Restart prometheus-pve-exporter

- name: Enable and start the prometheus-pve-exporter service.
  ansible.builtin.systemd:
    name: prometheus-pve-exporter
    daemon_reload: true
    enabled: true
    state: started
